<% layout('layout/boilerplate') -%>
<div class="row mt-4 mb-4">
<div class="col-6 offset-3">
    <div class="card">
        <img src="<%=campground.image%>" class="card-img-top" alt="My campground">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%=campground.description%></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted"><%=campground.location%></li>
          <li class="list-group-item">$<%=campground.price%>/per night </li>
        </ul>
        <div class="card-body">
            <a href="/campgrounds" class="card-link btn btn-info">All Campgrounds</a>
            <a href="/campgrounds/<%=campground._id%>/edit" class="card-link btn btn-info">Edit</a>
            <form class="d-inline mt-2" action="/campgrounds/<%=campground._id%>?_method=Delete" method="POST">
                <button class="btn btn-danger">Delete</button>
                </form>            
        </div>
      </div>
</div>    

   